* {
  box-sizing: border-box;
}

html {
  /* Override default font-size from 16px to 10px so that 1rem = 10px */
  font-size: 62.5%;
}

body {
  /* Set default font-size back to 16px */
  font-size: 1.6rem;
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "SF Pro Display", sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.grey-61 {
  color: #616161;
}

.black {
  color: #000000;
}

.font-size-14px {
  font-size: 1.4rem;
}

.font-size-16px {
  font-size: 1.6rem;
}

.font-size-24px {
  font-size: 2.4rem;
}

#navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

#header-top-navbar {
  position: inherit;
  max-width: 1920px;
  margin: auto;
  top: 0;
  padding: 1.2rem 10.36rem;
  height: 4.5rem;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  color: #a2a2a2;
  background-color: #f5f6f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-top-navbar a:hover {
  color: #ee322f;
  cursor: pointer;
}

.part-one,
.part-two,
.part-three,
.part-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-top-navbar > .part-one > a {
  margin-right: 2rem;
  padding: 0;
  justify-content: left;
}

#header-top-navbar > .part-two > a {
  margin-left: 2rem;
  padding: 0;
  justify-content: right;
}

#empty-space-1 {
  height: 1rem;
  width: 25.355rem;
}

#language-selection {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

#language-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.vertical-divider {
  display: flex;
  margin: 0;
  padding: 0;
  width: 0.5px;
  height: 1.6rem;
  background-color: #a2a2a2;
}

.small-vertical-divider {
  display: flex;
  margin: 0;
  padding: 0;
  width: 0.5px;
  height: 1.4rem;
  background-color: #a2a2a2;
}

#header-bottom-navbar {
  position: inherit;
  max-width: 1920px;
  margin: auto;
  top: 4.5rem;
  padding: 0 10.36rem;
  height: 5.6rem;
  width: 100%;
  color: #616161;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

#header-bottom-navbar > a {
  display: flex;
  align-items: center;
  margin: 0;
}

.header-bottom-navbar-clickable {
  position: relative;
  height: 100%;
  padding: 0.6rem;
  cursor: pointer;
}

/* These properties create a red line transition under the word */
.header-bottom-navbar-clickable:hover::after {
  visibility: visible;
  width: 100%;
}

.header-bottom-navbar-clickable::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 0.4rem;
  width: 0;
  visibility: hidden;
  background-color: #ed1c24;
  transition: all 0.3s ease;
}
/* These properties create a red line transition under the word */

 #header-bottom-navbar > a {
  cursor: pointer;
} 

a#home-logo {
  margin-right: 5rem;
}

#home-logo img {
  height: 3.2rem;
  width: 23.2rem;
}

a#login-btn {
  padding: 1.85rem 1.6rem 1.85rem 2rem;
  margin-left: 8rem;
  color: #ffffff;
  background-color: #ed1c24;
  font-weight: 600;
}

a#login-btn:hover {
  color: #ffffff;
  text-decoration: underline;
}

#login-icon {
  margin-left: 1rem;
}

#main-banner {
  position: relative;
  height: 28rem;
  max-width: 1920px;
  margin: 10.1rem auto 0 auto;
}

#main-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-banner-icon {
  position: absolute;
  top: 8rem;
  left: 10rem;
}

#main-banner-description {
  position: absolute;
  top: 10rem;
  left: 20rem;
  width: 65rem;
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 300;
}

#app-introduction {
  height: 33.725rem;
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  background-color: #f5f6f8;
  max-width: 1920px;
  margin: 0 auto;
}

.decoration-img-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 38%;
}

.decoration-img {
  height: 100%;
}

#app-introduction-description {
  margin: 1rem 0 1rem 8rem;
  padding: 0 1rem;
  width: 59%;
  display: flex;
  flex-direction: column;
}

#app-introduction-header {
  margin-top: 0.5rem;
  font-size: 28px;
  font-weight: 300;
}

#app-introduction-text {
  width: 70rem;
  margin: 0.8rem 0 1.6rem 0;
  color: #616161;
  font-size: 2rem;
  font-weight: 300;
}

#qr-code {
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  padding: 0 1.6rem;
  width: 30rem;
  height: 7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
}

#qr-code img {
  height: 6.2rem;
  margin-left: 1rem;
}

#app-download-link {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

#app-more-information {
  font-weight: 600;
}

#arrow-icon {
  height: 2.1rem;
  margin-left: 1rem;
}

#latest-offers {
  height: 63.2rem;
  padding: 3.6rem 0;
  background-color: #ffffff;
  font-size: 2.8rem;
  font-weight: 300;
  max-width: 131.2rem;
  margin: auto;
}

#offer-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 2rem;
}

.main-offer-card {
  width: 63.2rem;
}

.offer-card {
  width: 31.6rem;
}

.main-offer-card,
.offer-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 1.2rem;
  height: 50.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  border-radius: 1rem;
  /* .main-offer-card has border-radius but .main-offer-card > img doesn't
  Because of this, the img will try to overflow and override the border-radius.
  Setting overflow:hidden to hide the overflow part of the image */
  overflow: hidden;
}

.main-offer-card > img {
  width: 100%;
  position: relative;
}

.offer-content {
  width: 100%;
  position: absolute;
  padding: 1.6rem 2.4rem;
  color: #fff;
}

.offer-content p {
  padding: 0;
  margin: 1rem 0 0 0;
}

.more-information {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.more-information > p {
  width: calc(100% - 2.4rem);
}

.more-information > img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

#customers-opinions-layout {
  position: relative;
  height: 59.7rem;
  max-width: 1920px;
  margin: 0 auto;
}

#customers-opinions-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#customers-opinions {
  /* These 6 properties are needed to center a position: absolute element */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* These 6 properties are needed to center a position: absolute element */
  max-width: 131.2rem;
  height: 59.7rem;
  font-weight: 300;
  font-size: 2.8rem;
  color: #fff;
  padding: 4.8rem 0;
}

.opinion-list {
  margin: 3rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.opinion-card {
  height: 42rem;
  width: 42.2rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
  overflow: hidden;
}

.opinion-card > img {
  height: 56.7%;
  object-fit: cover;
}

.opinion-text {
  height: 18.4rem;
  padding: 2.4rem;
  line-height: 2.4rem;
}

.opinion-provider {
  margin-top: 1.6rem;
  font-weight: bold;
}

#awards {
  max-width: 1920px;
  margin: 0 auto;
  height: 47.5rem;
  background-color: #fff;
  color: #000;
  font-size: 2.8rem;
  padding: 4.8rem 10.36rem;
  max-width: 131.2rem;
  margin: auto;
}

#awards > img {
  width: 100%;
}

#quick-access-layout {
  max-width: 1920px;
  margin: 0 auto;
  height: 49.24rem;
  padding: 3.6rem 10.36rem;
  background-image: url("https://d1kndcit1zrj97.cloudfront.net/uploads/bg_168335d0df.svg?w=1920&q=75");
  background-size: cover;
  font-size: 2.8rem;
  font-weight: 300;
}

#quick-access {
  max-width: 131.2rem;
  margin: 0 auto;
}

#interests-layout {
  background-color: #f5f6f8;
  height: 28.7rem;
  padding: 3.6rem 10.36rem;
  font-size: 2.8rem;
  font-weight: 300;
  max-width: 1920px;
  margin: 0 auto;
}

#interests {
  max-width: 131.2rem;
  margin: 0 auto;
}

#interest-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  height: 16rem;
  margin: 2rem 0 0 0;
}

.interest {
  position: relative;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.interest:hover {
  cursor: pointer;
  box-shadow: 0 0.3rem 0.6rem #a2a2a2;
}

.interest > img {
  width: 100%;
}

.interest-description {
  position: absolute;
  color: #fff;
  bottom: 0;
  margin: 0;
  padding: 1.6rem 2.4rem;
}

.interest-description > p {
  margin: 1rem 0 0 0;
  padding: 0;
}

#interest-show-more-icon {
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  right: 1.6rem;
  bottom: 1.6rem;
}

footer {
  max-width: 1920px;
  margin: 0 auto;
  height: 26.2rem;
  background-color: #212121;
  padding: 3.2rem 10.36rem;
}

#top-footer,
#bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 131.2rem;
  margin: auto;
}

footer > p {
  display: flex;
  justify-content: flex-end;
  max-width: 131.2rem;
  margin: 1rem auto;
  padding-right: 0.8rem;
  color: #a2a2a2;
  font-weight: 400;
  font-size: 1.6rem;
}

#top-footer > img {
  height: 4rem;
}

#top-footer > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

#top-footer > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#middle-footer {
  display: flex;
  justify-content: flex-end;
  height: 2.4rem;
  max-width: 131.2rem;
  margin: 1rem auto;
  padding-right: 0.8rem;
}

#middle-footer > a > img {
  height: 2.4rem;
  margin-left: 1.5rem;
}

hr {
  border: 0;
  height: 0.1rem;
  background-color: #616161;
  opacity: 0.2;
  margin: 2rem 0;
}

#bottom-footer {
  color: #a2a2a2;
  font-size: 1.4rem;
  gap: 3.2rem;
}

#bottom-footer > a:hover {
  text-decoration: underline;
}
